html {
  box-sizing: border-box;
}

* {
  ::before,
  ::after {
    box-sizing: inherit;
  }
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Arial", helvetica, sans-serif;
  font-size: 16px;
  background-color: color(white);
}

h1 {
  font-size: 2rem;
}
